<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.cubic.platform.hunter.mysql.mapper.VTalentDocMapper" >
  <resultMap id="BaseResultMap" type="cn.com.cubic.platform.hunter.mysql.entity.VTalentDoc" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="owner" property="owner" jdbcType="BIGINT" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="eng_name" property="engName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="native_place" property="nativePlace" jdbcType="BIGINT" />
    <result column="city" property="city" jdbcType="BIGINT" />
    <result column="phone1" property="phone1" jdbcType="VARCHAR" />
    <result column="phone2" property="phone2" jdbcType="VARCHAR" />
    <result column="phone3" property="phone3" jdbcType="VARCHAR" />
    <result column="email1" property="email1" jdbcType="VARCHAR" />
    <result column="email2" property="email2" jdbcType="VARCHAR" />
    <result column="email3" property="email3" jdbcType="VARCHAR" />
    <result column="business" property="business" jdbcType="VARCHAR" />
    <result column="career" property="career" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="BIT" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="marray" property="marray" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="salary" property="salary" jdbcType="VARCHAR" />
    <result column="intent_city" property="intentCity" jdbcType="VARCHAR" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="mpc" property="mpc" jdbcType="BIT" />
    <result column="quality" property="quality" jdbcType="VARCHAR" />
    <result column="family" property="family" jdbcType="VARCHAR" />
    <result column="purpose" property="purpose" jdbcType="VARCHAR" />
    <result column="now_salary" property="nowSalary" jdbcType="VARCHAR" />
    <result column="exp_salary" property="expSalary" jdbcType="VARCHAR" />
    <result column="evaluate" property="evaluate" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="del_status" property="delStatus" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="BIT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_by" property="modifyBy" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="doc_id" property="docId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, type, owner, avatar, eng_name, name, native_place, city, phone1, phone2, phone3, 
    email1, email2, email3, business, career, gender, birthday, marray, qq, salary, intent_city, 
    tags, mpc, quality, family, purpose, now_salary, exp_salary, evaluate, remark, status, 
    del_status, flag, create_by, create_time, modify_by, modify_time, doc_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.cubic.platform.hunter.mysql.entity.VTalentDocExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from v_talent_doc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="cn.com.cubic.platform.hunter.mysql.entity.VTalentDocExample" >
    delete from v_talent_doc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.cubic.platform.hunter.mysql.entity.VTalentDoc" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into v_talent_doc (type, owner, avatar, 
      eng_name, name, native_place, 
      city, phone1, phone2, 
      phone3, email1, email2, 
      email3, business, career, 
      gender, birthday, marray, 
      qq, salary, intent_city, 
      tags, mpc, quality, family, 
      purpose, now_salary, exp_salary, 
      evaluate, remark, status, 
      del_status, flag, create_by, 
      create_time, modify_by, modify_time, 
      doc_id)
    values (#{type,jdbcType=VARCHAR}, #{owner,jdbcType=BIGINT}, #{avatar,jdbcType=VARCHAR}, 
      #{engName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{nativePlace,jdbcType=BIGINT}, 
      #{city,jdbcType=BIGINT}, #{phone1,jdbcType=VARCHAR}, #{phone2,jdbcType=VARCHAR}, 
      #{phone3,jdbcType=VARCHAR}, #{email1,jdbcType=VARCHAR}, #{email2,jdbcType=VARCHAR}, 
      #{email3,jdbcType=VARCHAR}, #{business,jdbcType=VARCHAR}, #{career,jdbcType=VARCHAR}, 
      #{gender,jdbcType=BIT}, #{birthday,jdbcType=DATE}, #{marray,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{salary,jdbcType=VARCHAR}, #{intentCity,jdbcType=VARCHAR}, 
      #{tags,jdbcType=VARCHAR}, #{mpc,jdbcType=BIT}, #{quality,jdbcType=VARCHAR}, #{family,jdbcType=VARCHAR}, 
      #{purpose,jdbcType=VARCHAR}, #{nowSalary,jdbcType=VARCHAR}, #{expSalary,jdbcType=VARCHAR}, 
      #{evaluate,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{delStatus,jdbcType=VARCHAR}, #{flag,jdbcType=BIT}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{docId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.cubic.platform.hunter.mysql.entity.VTalentDoc" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into v_talent_doc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        type,
      </if>
      <if test="owner != null" >
        owner,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="engName != null" >
        eng_name,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="nativePlace != null" >
        native_place,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="phone1 != null" >
        phone1,
      </if>
      <if test="phone2 != null" >
        phone2,
      </if>
      <if test="phone3 != null" >
        phone3,
      </if>
      <if test="email1 != null" >
        email1,
      </if>
      <if test="email2 != null" >
        email2,
      </if>
      <if test="email3 != null" >
        email3,
      </if>
      <if test="business != null" >
        business,
      </if>
      <if test="career != null" >
        career,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="marray != null" >
        marray,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="salary != null" >
        salary,
      </if>
      <if test="intentCity != null" >
        intent_city,
      </if>
      <if test="tags != null" >
        tags,
      </if>
      <if test="mpc != null" >
        mpc,
      </if>
      <if test="quality != null" >
        quality,
      </if>
      <if test="family != null" >
        family,
      </if>
      <if test="purpose != null" >
        purpose,
      </if>
      <if test="nowSalary != null" >
        now_salary,
      </if>
      <if test="expSalary != null" >
        exp_salary,
      </if>
      <if test="evaluate != null" >
        evaluate,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyBy != null" >
        modify_by,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="docId != null" >
        doc_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=BIGINT},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="engName != null" >
        #{engName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null" >
        #{nativePlace,jdbcType=BIGINT},
      </if>
      <if test="city != null" >
        #{city,jdbcType=BIGINT},
      </if>
      <if test="phone1 != null" >
        #{phone1,jdbcType=VARCHAR},
      </if>
      <if test="phone2 != null" >
        #{phone2,jdbcType=VARCHAR},
      </if>
      <if test="phone3 != null" >
        #{phone3,jdbcType=VARCHAR},
      </if>
      <if test="email1 != null" >
        #{email1,jdbcType=VARCHAR},
      </if>
      <if test="email2 != null" >
        #{email2,jdbcType=VARCHAR},
      </if>
      <if test="email3 != null" >
        #{email3,jdbcType=VARCHAR},
      </if>
      <if test="business != null" >
        #{business,jdbcType=VARCHAR},
      </if>
      <if test="career != null" >
        #{career,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=BIT},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="marray != null" >
        #{marray,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        #{salary,jdbcType=VARCHAR},
      </if>
      <if test="intentCity != null" >
        #{intentCity,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="mpc != null" >
        #{mpc,jdbcType=BIT},
      </if>
      <if test="quality != null" >
        #{quality,jdbcType=VARCHAR},
      </if>
      <if test="family != null" >
        #{family,jdbcType=VARCHAR},
      </if>
      <if test="purpose != null" >
        #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="nowSalary != null" >
        #{nowSalary,jdbcType=VARCHAR},
      </if>
      <if test="expSalary != null" >
        #{expSalary,jdbcType=VARCHAR},
      </if>
      <if test="evaluate != null" >
        #{evaluate,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=BIT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null" >
        #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="docId != null" >
        #{docId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.cubic.platform.hunter.mysql.entity.VTalentDocExample" resultType="java.lang.Integer" >
    select count(*) from v_talent_doc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update v_talent_doc
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.owner != null" >
        owner = #{record.owner,jdbcType=BIGINT},
      </if>
      <if test="record.avatar != null" >
        avatar = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.engName != null" >
        eng_name = #{record.engName,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.nativePlace != null" >
        native_place = #{record.nativePlace,jdbcType=BIGINT},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=BIGINT},
      </if>
      <if test="record.phone1 != null" >
        phone1 = #{record.phone1,jdbcType=VARCHAR},
      </if>
      <if test="record.phone2 != null" >
        phone2 = #{record.phone2,jdbcType=VARCHAR},
      </if>
      <if test="record.phone3 != null" >
        phone3 = #{record.phone3,jdbcType=VARCHAR},
      </if>
      <if test="record.email1 != null" >
        email1 = #{record.email1,jdbcType=VARCHAR},
      </if>
      <if test="record.email2 != null" >
        email2 = #{record.email2,jdbcType=VARCHAR},
      </if>
      <if test="record.email3 != null" >
        email3 = #{record.email3,jdbcType=VARCHAR},
      </if>
      <if test="record.business != null" >
        business = #{record.business,jdbcType=VARCHAR},
      </if>
      <if test="record.career != null" >
        career = #{record.career,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=BIT},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=DATE},
      </if>
      <if test="record.marray != null" >
        marray = #{record.marray,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null" >
        qq = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.salary != null" >
        salary = #{record.salary,jdbcType=VARCHAR},
      </if>
      <if test="record.intentCity != null" >
        intent_city = #{record.intentCity,jdbcType=VARCHAR},
      </if>
      <if test="record.tags != null" >
        tags = #{record.tags,jdbcType=VARCHAR},
      </if>
      <if test="record.mpc != null" >
        mpc = #{record.mpc,jdbcType=BIT},
      </if>
      <if test="record.quality != null" >
        quality = #{record.quality,jdbcType=VARCHAR},
      </if>
      <if test="record.family != null" >
        family = #{record.family,jdbcType=VARCHAR},
      </if>
      <if test="record.purpose != null" >
        purpose = #{record.purpose,jdbcType=VARCHAR},
      </if>
      <if test="record.nowSalary != null" >
        now_salary = #{record.nowSalary,jdbcType=VARCHAR},
      </if>
      <if test="record.expSalary != null" >
        exp_salary = #{record.expSalary,jdbcType=VARCHAR},
      </if>
      <if test="record.evaluate != null" >
        evaluate = #{record.evaluate,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.delStatus != null" >
        del_status = #{record.delStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null" >
        flag = #{record.flag,jdbcType=BIT},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyBy != null" >
        modify_by = #{record.modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.docId != null" >
        doc_id = #{record.docId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update v_talent_doc
    set id = #{record.id,jdbcType=BIGINT},
      type = #{record.type,jdbcType=VARCHAR},
      owner = #{record.owner,jdbcType=BIGINT},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      eng_name = #{record.engName,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      native_place = #{record.nativePlace,jdbcType=BIGINT},
      city = #{record.city,jdbcType=BIGINT},
      phone1 = #{record.phone1,jdbcType=VARCHAR},
      phone2 = #{record.phone2,jdbcType=VARCHAR},
      phone3 = #{record.phone3,jdbcType=VARCHAR},
      email1 = #{record.email1,jdbcType=VARCHAR},
      email2 = #{record.email2,jdbcType=VARCHAR},
      email3 = #{record.email3,jdbcType=VARCHAR},
      business = #{record.business,jdbcType=VARCHAR},
      career = #{record.career,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=BIT},
      birthday = #{record.birthday,jdbcType=DATE},
      marray = #{record.marray,jdbcType=VARCHAR},
      qq = #{record.qq,jdbcType=VARCHAR},
      salary = #{record.salary,jdbcType=VARCHAR},
      intent_city = #{record.intentCity,jdbcType=VARCHAR},
      tags = #{record.tags,jdbcType=VARCHAR},
      mpc = #{record.mpc,jdbcType=BIT},
      quality = #{record.quality,jdbcType=VARCHAR},
      family = #{record.family,jdbcType=VARCHAR},
      purpose = #{record.purpose,jdbcType=VARCHAR},
      now_salary = #{record.nowSalary,jdbcType=VARCHAR},
      exp_salary = #{record.expSalary,jdbcType=VARCHAR},
      evaluate = #{record.evaluate,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      del_status = #{record.delStatus,jdbcType=VARCHAR},
      flag = #{record.flag,jdbcType=BIT},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modify_by = #{record.modifyBy,jdbcType=VARCHAR},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      doc_id = #{record.docId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select resultMap="BaseResultMap" parameterType="cn.com.cubic.platform.hunter.mysql.entity.VTalentDocExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from v_talent_doc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>